.glyphicon {
    font-size: 11px;
    margin: 0 3px;
}

.glyphicon:hover {
  cursor:pointer;
}

.spacer {
  margin: 40px 0;
}

.big-spacer {
  margin: 80px 0;
}

.contacts {
  float:none;
  margin: 0 auto;
}

.contact {
  border: 1px solid grey;
  font-size: 25px;
  padding: 10px;
  text-align:center;
}


.contact-body {
  display: none;
  font-size: 15px;
}

.delete-contact {
  color:red;
  float: right;
  font-size:11px;
  margin: 11px 3px;
}

.hidden {
  visibility:hidden;
}

.glyphicon-minus {
  display:none;
}

.contact-email {
  display:block;
}

.contact-header {
  position:relative;
  margin-left:25px;
}