.glyphicon {
    font-size: 11px;
    margin: 0 3px;
}

.glyphicon:hover {
  cursor:pointer;
}

.spacer {
  margin: 40px 0;
}

.big-spacer {
  margin: 80px 0;
}

.contacts {
  float:none;
  margin: 0 auto;
}


.contact {
  overflow:hidden;
  border: 1px solid #CFCFCF;
  font-size: 25px;
  padding: 10px;
  text-align:center;
  height: 60px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.contact-body {
  font-size: 15px;
  height:20px;
  padding-top:8px;
}

.delete-contact {
  color:red;
  float: right;
  font-size:11px;
  margin: 11px 3px;
  visibility:hidden;
}

.tagline {
  font-family: 'Cedarville Cursive', cursive;
  font-size:20px;
}


.glyphicon-minus {
  display:none;
}

.contact-email {
  display:block;
}

.contact-header {
  position:relative;
  margin-left:25px;
}